

.Form{
    background-color: pink;
    font-family: Georgia;
    padding: 20px;
    border-radius: 2%;
    animation: descer 3s forwards;
    position: absolute;
    top: 30%;
    left: 40%;
}
.b1{
    background-color: blanchedalmond;
    margin: 10px;
    width: 60px;
    font-family: monospace;
}
.b2{
    background-color: blanchedalmond;
    margin: 10px;
    width: 80px;
    font-family: monospace;  
}
button{
    background-color: blanchedalmond;
    margin: 10px;
    width: 60px;
    font-family: monospace;
    }
    a{
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        border-radius: 5px;
    }

@keyframes descer {
    0% { transform: translateY(-100vh); }
        100% {
            transform: translateY (50px);
        }
       
}

