.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transition: background-color 0.3s ease;
}

.content:hover {
    background-color: rgb(75, 75, 233);
}

button{
    background-color: blanchedalmond;
    margin: 10px;
    width: 60px;
    font-family: monospace;
    }
    a{
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        border-radius: 5px;
    }