.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    width: 200px;
    height: 200px;
    background-color: rgb(236, 0, 146);
    border-radius: 50%;
    transition-property: border-radius ;
    transition-duration: 2s;
}

.content:hover {
background-color:rgb(236, 0, 146) ;
 width: 200px;
 height: 100px;
 border-radius: 0%;
}

button{
    background-color: blanchedalmond;
    margin: 10px;
    width: 60px;
    font-family: monospace;
    }
    a{
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        border-radius: 5px;
    }