body{
    margin: 0;
  overflow: hidden;
    height: 100%;
}

.content{
    background-color: pink;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    animation: quicar 4s linear infinite backwards;
    animation-direction: alternate;
}

@keyframes quicar {
    0%{
       transform: translateY(0px);
       left: 0px;
    }
    25%{
        transform: translateY(-450px);
        left: 250px;
    }
    50%{
        transform: translateY(50px);
        left: 500px;
    }
    75%{
        transform: translateY(-475px);
        left: 750px;
    }
    100%{
        transform: translateY(10px);
        left: 1000px;
    }
}

button{
    background-color: blanchedalmond;
    margin: 10px;
    width: 60px;
    font-family: monospace;
    }
    a{
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        border-radius: 5px;
    }