
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
}

.quadrado1 {
    margin: 0 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 127, 217);
    animation: quad 4s infinite alternate;
}
.quadrado2 {
    margin: 0 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 127, 217);
    animation: quad 4s infinite alternate;
    animation-delay: 2s;
}
.quadrado3 {
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 127, 217);
    animation: quad 4s infinite alternate;
    animation-delay: 4s;
}

@keyframes quad {
  0%,100% {transform: translateY(0)
}
    50%{
        transform: translateY(-100px);
    }
}

button{
    background-color: blanchedalmond;
    margin: 10px;
    width: 60px;
    font-family: monospace;
    }
    a{
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        border-radius: 5px;
    }



